
###> symfony/framework-bundle ###
.env
.idea
/config/packages/dev/parameters.yaml
/config/packages/prod/parameters.yaml
/config/packages/test/parameters.yaml
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
